*.iml

# IDE files
.idea/

# Local machine configuration
.gradle/
.gradle-user/
.kotlin/
/local.properties
local.properties

# OS files
.DS_Store

# Build outputs
/build/
/captures/
.externalNativeBuild/
.cxx/

# JVM crash logs
java_pid*.hprof
